Reset your password

Hi <%= @user.name %>,

Someone requested a password reset for your account. If this was you, click the link below to reset your password:

<%= @url %>

If you didn't request this, you can safely ignore this email. Your password will not be changed.

This link will expire in 24 hours.
